body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 239, 213, 0.4);
}

nav {
    display: flex;
    align-items: center;
    background-color: #c5c4a6;
    padding: 15px 30px;
    border-radius: 10px;
}

.container {
    background-color: papayawhip;
    padding: 15px 25px;
    text-decoration: none;
    margin-right: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.container img {
    height: 60px;
    display: block;
}

.nav-hom {
    display: flex;
    gap: 70px;
    list-style: none;
}
.nav-hom a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-hom a:hover {
    text-decoration: underline;
}
.hom {
    width: 100%;
    margin: auto;
    padding: 40px 10px;
    background-color: #eadede;
    text-align: center;
}

.hom-container h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: black;
}

.hom-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    background-color: rgba(60, 60, 60, 0);
}

.hom-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.pro-text {
    text-align: center;
    color: rgba(31, 35, 31, 0.8);
    line-height: 1.6;
}

.pro-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.pro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-color: rgba(32, 29, 29, 0);
}

.pro-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.pro-text1 {
    color: rgba(31, 35, 31, 0.8);
    margin-bottom: 40px;
    line-height: 1.6;
}

.pro-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.pro-card {
    background-color: rgba(85, 92, 71, 0.28);
    padding: 20px;
}

.pro-card h4 {
    color: #6a5e5e;
    margin-bottom: 15px;
}

.pro1-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    background-color: rgba(255, 239, 213, 0);
}

.pro1-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.pro-des {
    font-size: 14px;
    line-height: 1.6;
    color: #6a5e5e;
}

.con-sec {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 10px;
}

.con-sec h2 {
    color: #6a5e5e;
    margin-bottom: 30px;
    font-size: 35px;
}

.con-cont {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
}

.con-info {
    color: #6a5e5e;
}
.con-info p {
    font-style: normal;
    margin-bottom: 10px;
}

.con-info b {
    font-style: normal;
}

.con-map {
    width: 100%;
    height: 435px;
    background-color: rgba(31, 35, 31, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

.con-map img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
